.header {
  font-family: Lato, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--tg-theme-text-color, #000000);
}

.activity-button {
  background: #F6901A;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  color: white;
  font-weight: 700;
  padding: 20px 15px;
  border-radius: 14px;
  width: 100%;
  cursor: pointer;
}

.activity-card {
  background: var(--tg-theme-bg-color, #ffffff);
  border-radius: 19px;
  box-shadow: -1px 15px 30px -12px black;

  text-align: center;
  font-family: Lato, Arial, sans-serif;

  margin-bottom: 20px;

  &_type {
    font-size: 26px;
    line-height: 28px;
    color: var(--tg-theme-text-color, #000000);
    font-weight: 900;
    padding: 20px 20px 0;
  }

  &_description {
    font-size: 14px;
    line-height: 20px;
    color: var(--tg-theme-hint-color, #9E9E9E);
    padding: 20px;
  }

  &_link {
    padding: 0 20px 20px;

    a {
      font-size: 14px;
      line-height: 20px;
      color: var(--tg-theme-link-color, #000000);
    }
  }

  &_stats {
    background: var(--tg-theme-button-color, #F6901A);
    display: flex;
    color: var(--tg-theme-button-text-color, #ffffff);
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    &-item {
      flex: 1;
      padding: 20px 15px;

      &-name {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 10px
      }

      &-type {
        font-size: 12px;
        line-height: 20px;
      }

      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}
