<header>
  <h1 class="header">Are you bored?</h1>
</header>
<main>
  <div class="activity-card" *ngIf="activity">
    <div class="activity-card_type">{{activity.type}}</div>
    <p class="activity-card_description">{{activity.activity}}</p>
    <div class="activity-card_link" *ngIf="activity.link">
      <a [href]="activity.link"
         target="_blank"
      >Learn More</a>
    </div>

    <div class="activity-card_stats">
      <div class="activity-card_stats-item">
        <p class="activity-card_stats-item-name">{{activity.participants}}</p>
        <p class="activity-card_stats-item-type">participants</p>
      </div>

      <div class="activity-card_stats-item">
        <p class="activity-card_stats-item-name">{{activity.accessibility*10}} / 10</p>
        <p class="activity-card_stats-item-type">accessibility</p>
      </div>

      <div class="activity-card_stats-item">
        <p class="activity-card_stats-item-name">{{activity.price*10}} / 10</p>
        <p class="activity-card_stats-item-type">price</p>
      </div>
    </div>
  </div>
  <div *ngIf="!initData">
    <button class="activity-button" (click)="loadRandomActivity()">{{buttonText}}</button>
  </div>
</main>

